## Упражнение 00: Выбор

In [36]:
import pandas as pd
import sqlite3

## создаем подключение к базе данных с помощью библиотеки sqlite3

In [37]:
conn = sqlite3.connect('../data/checking-logs.sqlite')

## получить схему таблицы pageviews с помощью pd.io.sql.read_sql и запроса "PRAGMA table_info(pageviews);"

In [38]:
pd.read_sql("PRAGMA table_info(pageviews);", conn)

   cid      name       type  notnull dflt_value  pk
0    0     index    INTEGER        0       None   0
1    1       uid       TEXT        0       None   0
2    2  datetime  TIMESTAMP        0       None   0

## получить только первые 10 строк таблицы просмотров страниц, чтобы проверить, как выглядит таблица

In [39]:
pd.read_sql("select * from pageviews limit 10;", conn)

   index      uid                    datetime
0      0  admin_1  2020-04-17 12:01:08.463179
1      1  admin_1  2020-04-17 12:01:23.743946
2      2  admin_3  2020-04-17 12:17:39.287778
3      3  admin_3  2020-04-17 12:17:40.001768
4      4  admin_1  2020-04-17 12:27:30.646665
5      5  admin_1  2020-04-17 12:35:44.884757
6      6  admin_1  2020-04-17 12:35:52.735016
7      7  admin_3  2020-04-17 12:36:21.401412
8      8  admin_3  2020-04-17 12:36:22.023355
9      9  admin_1  2020-04-17 13:55:19.129243

## получить подтаблицу, используя только один запрос:
- используются только uid и datetime
- используются только данные пользователя (user_*), а не данные администратора
- сортируется по uid в порядке возрастания
- столбец индекса — дата и время
- datetime преобразуется в DatetimeIndex
- имя фрейма данных — pageviews

In [40]:
query = """
        select uid, datetime from pageviews
        where uid like 'user_%'
        order by uid
        """

pageviews = pd.read_sql(query, conn, index_col='datetime')
pageviews.index = pd.to_datetime(pageviews.index)
pageviews

                                uid
datetime
2020-04-26 21:53:59.624136   user_1
2020-04-26 22:06:19.478143   user_1
2020-04-26 22:12:09.614497   user_1
2020-04-30 19:29:01.831635   user_1
2020-05-05 20:26:32.894852   user_1
...                             ...
2020-04-29 16:51:21.877630  user_30
2020-05-09 20:30:47.034282  user_30
2020-05-22 11:30:18.368990   user_5
2020-05-21 16:28:28.217529   user_9
2020-05-21 16:36:40.915488   user_9

[987 rows x 1 columns]

## закрыть соединение с базой данных

In [41]:
conn.close()