## Упражнение 05: Оптимизация Pandas

In [51]:
import pandas as pd

## read the fines.csv that you saved in the previous exercise

In [52]:
df = pd.read_csv('../data/fines.csv')
df

        CarNumber  Refund   Fines    Make  Model  Year
0    Y163O8161RUS     2.0  3200.0    Ford  Focus  1989
1     E432XX77RUS     1.0  6500.0  Toyota  Camry  1995
2     7184TT36RUS     1.0  2100.0    Ford  Focus  1984
3    X582HE161RUS     2.0  2000.0    Ford  Focus  2015
4    92918M178RUS     1.0  5700.0    Ford  Focus  2014
..            ...     ...     ...     ...    ...   ...
925         70RUS     1.0   100.0   Dodge   Neon  2001
926         71RUS     2.0  1100.0    Ford  Focus  2000
927         72RUS     1.0   200.0    Ford  Focus  1999
928         73RUS     5.0   500.0    Ford  Focus  2004
929         74RUS     6.0   500.0    Ford  Focus  2004

[930 rows x 6 columns]

## iterations: in all the following subtasks, you need to calculate fines/refund*year for each row and create a new column with the calculated data and measure the time using the magic command %%timeit in the cell

In [53]:
def loop(frame):
    data = []
    for i in range(0, len(frame)):
        row = df.iloc[i] 
        value = row['Fines'] / row['Refund'] * row['Year']
        data.append(value)
    return data

In [54]:
%%timeit
df['Result'] = loop(df)
df

38.9 ms ± 199 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [55]:
def iter_row(frame):
    data = []
    for index, row in frame.iterrows():
        value = row['Fines'] / row['Refund'] * row['Year']
        data.append(value)
    return data

In [56]:
%%timeit
df['Result'] = iter_row(df)
df

35.4 ms ± 572 μs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [57]:
%%timeit
df['Result'] = df.apply(axis=1, func=lambda row: row['Fines'] / row['Refund'] * row['Year'])
df

6.11 ms ± 81.6 μs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [58]:
%%timeit
df['Result'] = df['Fines'] / df['Refund'] * df['Year']
df

180 μs ± 7.16 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [59]:
%%timeit
df['Result'] = df['Fines'].values / df['Refund'].values * df['Year'].values
df

87.3 μs ± 4.32 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## indexing: measure the time using the magic command %%timeit in the cell

In [61]:
%%timeit
df.loc[df['CarNumber'] == 'O136HO197RUS']

259 μs ± 8.27 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [62]:
df.set_index('CarNumber', inplace=True)
df

              Refund   Fines    Make  Model  Year      Result
CarNumber
Y163O8161RUS     2.0  3200.0    Ford  Focus  1989   3182400.0
E432XX77RUS      1.0  6500.0  Toyota  Camry  1995  12967500.0
7184TT36RUS      1.0  2100.0    Ford  Focus  1984   4166400.0
X582HE161RUS     2.0  2000.0    Ford  Focus  2015   2015000.0
92918M178RUS     1.0  5700.0    Ford  Focus  2014  11479800.0
...              ...     ...     ...    ...   ...         ...
70RUS            1.0   100.0   Dodge   Neon  2001    200100.0
71RUS            2.0  1100.0    Ford  Focus  2000   1100000.0
72RUS            1.0   200.0    Ford  Focus  1999    399800.0
73RUS            5.0   500.0    Ford  Focus  2004    200400.0
74RUS            6.0   500.0    Ford  Focus  2004    167000.0

[930 rows x 6 columns]

In [65]:
%%timeit
df.loc[df.index == 'O136HO197RUS']

162 μs ± 2.69 μs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

## downcasting

In [67]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 74RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    float64
 1   Fines   930 non-null    float64
 2   Make    930 non-null    object
 3   Model   919 non-null    object
 4   Year    930 non-null    int64
 5   Result  930 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 214.2 KB

In [94]:
df_optimized = df.copy()

df_optimized['Refund'] = df_optimized['Refund'].astype('int8')
df_optimized['Fines'] = df_optimized['Fines'].astype('float32')
df_optimized['Make'] = df_optimized['Make'].astype('category')
df_optimized['Model'] = df_optimized['Model'].astype('category')
df_optimized['Year'] = df_optimized['Year'].astype('int16')
df_optimized['Result'] = df_optimized['Result'].astype('float32')

df_optimized.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
Index: 930 entries, Y163O8161RUS to 74RUS
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Refund  930 non-null    int8
 1   Fines   930 non-null    float32
 2   Make    930 non-null    category
 3   Model   919 non-null    category
 4   Year    930 non-null    int16
 5   Result  930 non-null    float32
dtypes: category(2), float32(2), int16(1), int8(1)
memory usage: 100.9 KB